html,
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  background-color: #202020;
  font-family: "Afacad", sans-serif;
}

.mobile-container {
  display: none;
}

nav {
  z-index: 1;
  width: 100%;
  background: #2020209a;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.navbar {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  /* margin: 0; */
  color: #ffea2e;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li a {
  margin-right: 50px;
  text-decoration: none;
  color: #fff;
}

li a:hover {
  color: #ffea2e;
  /* border-bottom: 2px solid #ffea2e; */
}

.home-menu {
  color: #ffea2e;
  border-bottom: 2px solid #ffea2e;
}

.github {
  font-size: 25px;
  cursor: pointer;
}

.github a {
  color: #fff;
}

.github:hover a {
  color: #ffea2e;
}

.container {
  color: #fff;
  max-width: 1080px;
  width: 100%;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
}

.contain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.sosmed {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sosmed a {
  margin: 10px;
  color: #fff;
}

.sosmed i {
  font-size: 20px;
  cursor: pointer;
}

.sosmed i:hover {
  color: #ffea2e;
}

.text {
  left: 0;
}

.text h1 {
  margin: 0;
  font-size: 70px;
}

.text h3 {
  margin: 0;
}

.skills h2 {
  /* border-right: solid #ffea2e; */
  position: relative;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  margin: 0;
  color: #ffea2e;
  overflow: hidden;
  animation: berjalan 3s steps(30) infinite, slide 9s steps(3) infinite;
  -webkit-animation: berjalan 3s steps(30) infinite, slide 9s steps(3) infinite;
}

.skills {
  height: 30px;
  overflow: hidden;
}

@keyframes slide {
  from {
    bottom: 0;
  }
  100% {
    bottom: 90px;
  }
}

@keyframes berjalan {
  from {
    width: 0;
  }
  50% {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.logo img {
  width: 300px;
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 20px 1px #ffea2e;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  padding: 20px;
  color: #fff;
}

.footer {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    max-width: 100vw;
    max-height: 100vh;
  }
  nav {
    display: none;
  }
  .container {
    display: none;
  }
  .mobile-container {
    color: #fff;
    display: block;
    margin: auto;
    padding: 0px 20px;
    /* width: 100%;
    height: 100%; */
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-icon {
    /* right: 0; */
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 10;
  }

  .burger-icon div {
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .mobile-title {
    color: #ffea2e;
    font-size: 10px;
    margin: 0;
  }

  .mobile-github {
    font-size: 20px;
    cursor: pointer;
  }

  .mobile-github a {
    color: #fff;
  }

  .mobile-github:hover a {
    color: #ffea2e;
  }

  .mobile-menu {
    padding: 50px;
    /* margin-top: 10px; */
    display: none;
    position: absolute;
    background: #ffffff;
    /* border: solid #ffea2e; */
    /* box-shadow: 0px 0px 10px 2px #ffea2e; */
    z-index: 9;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .mobile-menu ul li {
    padding: 12px;
    text-align: center;
    color: #ffea2e;
    font-size: 30px;
  }

  .mobile-menu ul li a {
    margin: auto;
    color: #000000;
  }

  .mobile-menu ul li:last-child {
    border-bottom: none;
  }

  .burger-icon.open div:nth-child(1) {
    transform: rotate(35deg);
    transform-origin: 4px 5px;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
  }

  .burger-icon.open div:nth-child(2) {
    opacity: 0;
  }

  .burger-icon.open div:nth-child(3) {
    transform: rotate(-35deg);
    transform-origin: 4px -2px;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
  }

  .mobile-menu.show {
    display: block;
  }

  .mobile-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .mobile-logo img {
    width: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 0px 20px 1px #ffea2e;
  }
  .mobile-sosmed {
    padding: 50px;
  }

  .mobile-sosmed a {
    text-decoration: none;
    margin: 10px;
    color: #fff;
  }

  .mobile-sosmed i {
    font-size: 20px;
    cursor: pointer;
  }

  .mobile-sosmed i:hover {
    color: #ffea2e;
  }

  .mobile-text {
    left: 0;
  }

  .mobile-text h1 {
    margin: 0;
    font-size: 50px;
  }

  .mobile-text h3 {
    margin: 0;
  }

  .mobile-skills h2 {
    /* border-right: solid #ffea2e; */
    position: relative;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    margin: 0;
    color: #ffea2e;
    overflow: hidden;
    animation: berjalan 3s steps(30) infinite, slide 9s steps(3) infinite;
    -webkit-animation: berjalan 3s steps(30) infinite, slide 9s steps(3) infinite;
  }

  .mobile-skills {
    height: 30px;
    overflow: hidden;
  }

  @keyframes slide {
    from {
      bottom: 0;
    }
    100% {
      bottom: 90px;
    }
  }

  @keyframes berjalan {
    from {
      width: 0;
    }
    50% {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  .mobile-footer {
    bottom: 0;
    position: fixed;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}
